<!-- <header class="header-container">
    <button class="nav-button" mat-icon-button (click)="onToggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <app-sidenav></app-sidenav>
    <img class="logo" src="../../assets/JOSMO_logo_100x75.png">
    <div class="header-right">
      <button id="logout-button" mat-raised-button (click)="handleLogout()">Log Out</button>
    </div>
</header> -->

<mat-toolbar id="header-toolbar">
  <mat-toolbar-row>
    <span id="header-logo">
      <img routerLink="/" routerLinkActive="" src="../../assets/JOSMO_logo_100x75.png"/>
    </span>
    <span class="navlinks" *ngIf="isLoggedIn()">
      <p routerLink="/proposal-form" routerLinkActive="">Proposal Form</p>
    </span>
    <span class="navlinks" *ngIf="isLoggedIn()">
      <p routerLink="/styles-report">Styles Report</p>
    </span>
    <span class="logout-button" (click)="handleLogout()" *ngIf="isLoggedIn()">
      <p>Log Out</p>
    </span>
    <span class="logout-button" (click)="handleLoginButton()" *ngIf="!isLoggedIn()">
      <p>Log In</p>
    </span>
  </mat-toolbar-row>
</mat-toolbar>