/* .header-container {
    background-color: black;
    height: 10%; 
    display: flex;
    align-items: center;
    padding: 0 2%;
  }
  
  .nav-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .logo {
    max-width: 100px; 
    padding: 5%;
    margin-left: 39%;
  }
  
  .header-text {
    color: white;
    margin: 0;
    font-size: 24px; 
    margin-left: 20px; 
  }
  
  .header-right {
    margin-left: auto; 
    margin-top: 2%;
  }

  #logout-button {
    background-color: black;
    color: white;
  }

  #logout-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
   */
#header-toolbar {
  background-color: black;
}

#header-logo {
  margin-top: 0.5%;
  padding: 1%;
}
#header-logo:hover {
  cursor: pointer;
}

.navlinks{
  font-size: smaller;
  padding: 2%;
  color: white;
}

.navlinks:hover{
  cursor: pointer;
}

.logout-button {
  font-size: smaller;
  padding: 2%;
  color: white;
  margin-left: auto;
}
.logout-button:hover {
  cursor: pointer;
}