/* header.component.css */
.header-container {
    background-color: black;
    height: 10%; /* Adjust height as needed */
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  .nav-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .logo {
    max-width: 100px; /* Adjust size as needed */
    padding: 5%;
    margin-left: 39%;
  }
  
  .header-text {
    color: white;
    margin: 0;
    font-size: 24px; /* Adjust size as needed */
    margin-left: 20px; /* Add margin for spacing */
  }
  
  .header-right {
    margin-left: auto; /* Push to the right */
    margin-top: 2%;
  }
  