<div id="form-container">
    <form [formGroup]="formData" (ngSubmit)="handleSubmit($event)" class="form-flex-container">
        <!-- <table (paste)="handlePaste($event)">
            <thead>
              <tr>
                <th>Styles</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of rows">
                <td>
                  <input #styles formControlName="styles" (change)="handleInput(styles.value)" value={{row}} placeholder="Input Style ID" />
                </td>
              </tr>
              <tr>
                <td>
                  <button (click)="addRow(); false">Add Row</button>
                </td>
              </tr>
            </tbody>
          </table> -->
          <mat-card class="form-card; styles-card">
            <mat-card-header class="form-card-top">
                <h2>Styles</h2>
            </mat-card-header>
            <mat-card-content class="card-content">
                <mat-form-field class="textarea-field">
                    <textarea id="styles-input" matInput formControlName="styles" placeholder="Enter Styles" #style (input)="handleStylesInput(style.value)"></textarea>
                </mat-form-field>
            </mat-card-content>
            <mat-card-footer class="form-card-bottom">
                <input matInput #presetName placeholder="Save Preset As..." (input)="handlePresetInput(presetName.value)"/>
                <button id="style-preset-button" (click)="handleSavePreset(); false">Save Styles Preset</button>
            </mat-card-footer>
          </mat-card>
        <mat-card class="form-card">
            <mat-card-header class="form-card-top">
                <h2>Proposal Form</h2>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="form-field">
                    <mat-label>Run Type</mat-label>
                    <mat-select name="type" #type (selectionChange)="handleStateChange('type', type.value)" formControlName="type" placeholder="Run Type">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let type of runTypes" value={{type}}>{{type}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field">
                    <mat-label for="view">View By</mat-label>
                    <mat-select name="view" #view (selectionChange)="handleStateChange('view', view.value)" formControlName="view" placeholder="View By">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let view of viewBy" id={{view}} value={{view}}>{{view}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field">
                    <mat-label>Pairs/Cases</mat-label>
                    <mat-select name="pC" #pC (selectionChange)="handleStateChange('pC', pC.value)" formControlName="pC" placeholder="Pairs/Cases">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let p of pairsCases" value={{p}}>{{p}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field">
                    <mat-label>Include Columns</mat-label>
                    <mat-select multiple name="columns" #columns (selectionChange)="handleStateChange('columns', columns.value)" formControlName="columns" placeholder="Include Columns">
                        <mat-option *ngFor="let c of includeColumns" value={{c}}>{{c}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <br/>
        
                <mat-form-field class="form-field">
                    <mat-label>Stock Filters</mat-label>
                    <mat-select name="filters" #filter (selectionChange)="handleStateChange('filters', filter.value)" formControlName="filters" placeholder="Stock Filters">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let f of stockFilters" name="filters" value={{f}}>{{f}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field">
                    <mat-label>Status</mat-label>
                    <mat-select name="status" #status (selectionChange)="handleStateChange('status', status.value)" formControlName="status" placeholder="Status">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let s of statuses" value={{s}}>{{s}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </mat-card-content>
            <mat-card-footer class="form-card-bottom">
                <mat-form-field class="form-field filename-field">
                    <mat-label>Save File As:</mat-label>
                    <input name="filename" matInput #filename (input)="handleStateChange('filename',filename.value)" formControlName="filename" placeholder="File Name"/>
                </mat-form-field>
                <button id="cancel-button" mat-raised-button type="button" (click)="handleCancel()">Cancel</button>
                <button id="submit-button" mat-raised-button type="submit" (click)="handleSubmit($event); false">Submit</button>
            </mat-card-footer>
        </mat-card>
    </form>
</div>
<br/>
<div>
    <h2>Results:</h2>
    <p *ngFor="let i of formData.value | keyvalue">{{i.key}}: {{i.value}}</p>
</div>