<div id="form-container">
    <form [formGroup]="formData" (ngSubmit)="handleSubmit($event)" (keydown.enter)="$event.preventDefault()" class="form-flex-container">
        <mat-card class="form-card; styles-card">
            <mat-card-header class="form-card-top">
                <h2>Styles</h2>
            </mat-card-header>
            <mat-card-content class="card-content">
                <table>
                    <tbody class="table-body">
                        <tr *ngFor="let row of rows; let i = index">
                            <td>
                                <button class="delete-row" (click)="deleteRow(i); false">X</button>
                                <input class="table-input" #styles value={{row}} placeholder="Input Style ID" (change)="handleStylesInput(styles.value, i)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
            <mat-card-footer class="form-card-bottom">
                <div id="button-container">
                    <button class="table-button" mat-raised-button (click)="addRow(); false">Add Row</button>
                    <button class="table-button" mat-raised-button (click)="handlePaste(); false">Paste</button>
                    <button class="table-button" id="table-clear" mat-raised-button (click)="handleStylesClear(); false">Clear</button>
                </div>
                <div id="preset-container">
                    <input matInput #presetName placeholder="Save Preset As..." (input)="handlePresetInput(presetName.value)" value="{{stylesForPreset.name}}"/>
                    <button  id="style-preset-button" (click)="handleSavePreset(); false">Save Styles Preset</button>
                </div>
                <div id="preset-options-container">
                    <app-preset-options (presetSelected)="handlePresetSelection($event)"></app-preset-options>
                </div>
            </mat-card-footer>
        </mat-card>

        <mat-card class="form-card">
            <mat-card-header class="form-card-top">
                <h2>Proposal Form</h2>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="form-field">
                    <mat-label>Run Type</mat-label>
                    <mat-select name="type" #type formControlName="type" >
                        <mat-option *ngFor="let type of runTypes" value={{type}}>{{type}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field">
                    <mat-label for="view">View By</mat-label>
                    <mat-select name="view" #view formControlName="view">
                        
                        <mat-option *ngFor="let view of viewBy" id={{view}} value={{view}}>{{view}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field">
                    <mat-label>Pairs/Cases</mat-label>
                    <mat-select name="pairs_cases" #pC formControlName="pairs_cases" >
                        
                        <mat-option *ngFor="let p of pairsCases" value={{p}}>{{p}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field">
                    <mat-label>Include Columns</mat-label>
                    <mat-select multiple name="columns" #columns formControlName="columns" >
                        <mat-option *ngFor="let c of includeColumns" value={{c}}>{{c}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field" *ngIf="handlePercentProfit()">
                    <mat-label>%Profit</mat-label>
                    <input matInput type="number" formControlName="percent_profit"/>
                </mat-form-field>
                <mat-form-field class="form-field" *ngIf="handlePercentProfit()">
                    <mat-label>Price Limit</mat-label>
                    <input matInput type="number" formControlName="price_limit"/>
                </mat-form-field>

                <br/>
        
                <mat-form-field class="form-field">
                    <mat-label>Stock Filters</mat-label>
                    <mat-select name="filters" #filter formControlName="filters" >
                        <mat-option *ngFor="let f of stockFilters" name="filters" value={{f}}>{{f}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field"  >
                    <mat-label>Quantity >=</mat-label>
                    <input name="quantity" matInput type="number" formControlName="quantityGreater"/>
                </mat-form-field>

                <mat-form-field class="form-field" >
                    <mat-label>Quantity <=</mat-label>
                    <input name="quantity" matInput type="number" formControlName="quantityLess"/>
                </mat-form-field>

                <mat-form-field class="form-field">
                    <mat-label>Status</mat-label>
                    <mat-select name="status" #status formControlName="status" >
                        <mat-option>---</mat-option>
                        <mat-option *ngFor="let s of statuses" value={{s}}>{{s}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </mat-card-content>
            <mat-card-footer class="form-card-bottom">
                <mat-form-field class="form-field filename-field">
                    <mat-label>Save File As:</mat-label>
                    <input name="filename" matInput #filename formControlName="filename" />
                </mat-form-field>
                <button id="cancel-button" mat-raised-button type="button" (click)="handleProposalClear()">Clear</button>
                <button id="submit-button" mat-raised-button type="submit" (click)="handleSubmit($event); false">Submit</button>
            </mat-card-footer>
        </mat-card>
    </form>
</div>