/* #styles-container {
    text-align: center;
}

#temp-list{
    text-align: center;
    list-style-type: none;
} */
/* table.component.css */
table {
    border-collapse: collapse;
    width: 50%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  input {
    border: 0;
    width: 100%;
    text-align: center;
  }
  