<!-- <div id="styles-container">
    <form [formGroup]="styleFormData">
        <table mat-table id="style-table" [dataSource]="rowData">

            <ng-container matColumnDef="Styles">
                <th mat-header-cell *matHeaderCellDef>Styles</th>
                <td mat-cell *matCellDef="let row">{{row}}
                    <input matInput formControlName="styles" (input)="handleStyleInput()" placeholder="Input Style ID"/>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        </table>
    </form>
</div> -->
<!-- <div id="proposal-container">
    <app-proposal-form></app-proposal-form>
</div> -->
<!-- table.component.html -->
<table (paste)="handlePaste($event)">
    <thead>
      <tr>
        <th>Styles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let style of rows; let i = index">
        <td>
          <input formControlName="styles" value={{rows[i]}} placeholder="Input Style ID" />
        </td>
      </tr>
      <tr>
        <td>
          <button (click)="addRow()">Add Row</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  