<div id="form-container">
    <mat-card class="form-card">
        <form id="login-form" [formGroup]="signupFormData">
            <mat-card-header class="form-card-top">
                <h2>Sign Up</h2>
            </mat-card-header>
            <mat-card-content class="form-card-content">
                <mat-form-field>
                    <mat-label>User Name</mat-label>
                    <input matInput placeholder="User Name" class="form-field" formControlName="username">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" type="password" class="form-field" formControlName="password">
                </mat-form-field>
                <button id="submit-button" mat-raised-button type="submit" (click)="handleSubmit($event); false">Submit</button>
            </mat-card-content>
            <mat-card-footer class="form-card-bottom">
                <p>Already have an account? <a routerLink="/login" routerLinkActive="active">Log In</a></p>
            </mat-card-footer>
        </form>
    </mat-card>
</div>
