   .side-nav-left {
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
}

.side-nav-content {
    z-index: 1002;
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: calc(100% - 60px);
    padding: 30px;
    overflow: auto;
    overflow-y: none;
    box-shadow: 0 2px 14px 0 rgba(130, 130, 130, 0.5);
    background: black;
    color: white !important;
}

.backdrop {
    position: fixed !important;
    z-index: 1001;
    height: 100%;
    width: 100%;
}

.mat-drawer {
    box-shadow: unset !important;
}

a {
    color: white;
    text-decoration:none;
    padding: 5%;
}

li {
    padding-top: 10%;
    padding-bottom: 5%;
}

li:hover {
    font-weight: bold;
}

button {
    background-color: black;
    color: white;
    border-color: white;
    text-transform: uppercase;
}

button:hover {
    background-color: white;
    color: black;
}

.logo {
    max-width: 90px; /* Adjust size as needed */
    padding: 5%;
  }