<!-- <mat-toolbar color="primary">
</mat-toolbar> -->
<mat-drawer-container>
    <mat-sidenav #sidenav class="side-nav-left" position="start" role="directory" [opened]="opened">
        <div class="backdrop" (click)="toggleSideBar()"></div>
        <div class="side-nav-content">
            <img class="logo" src="../../assets/JOSMO_logo_100x75.png">
            <button (click)="toggleSideBar()">x</button>
            <li><a routerLink="/" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
            <li><a routerLink="/proposal-form" routerLinkActive="active">Proposal Form</a></li>
            <li><a routerLink="/styles-report" routerLinkActive="active">Comparitive Styles Report</a></li>
        </div>
    </mat-sidenav>
</mat-drawer-container>
  